<div>
  <ul class="list-group">
    <% @project_pres.unassigned_developers.each do |developer| %>
    <li class="list-group-item">
      <p><%= developer.name %></p>
      <button class="btn btn-primary"><%= @project_pres.link_to_assign_user_to_project(developer.id) %></button>
    </li>
    <% end %>
  </ul>
</div>
