<div>
  <ul>
    <% @project_pres.unassigned_qa.each do |qa| %>
    <li>
      <p><%= qa.name %></p>
      <%= @project_pres.link_to_add_user_to_project(qa.id) %>
    </li>
    <% end %>
  </ul>
</div>
