<div class="card mr-4" style="width: 18rem;">
  <%= cl_image_tag(bug.screenshot.key, width: 300, height: 200, crop: :scale, class:"card-img-top" ) %>
  <div class="card-body">
    <h5 class="card-title"><%= bug.title %></h5>
    <p class="card-text"><%= bug.description %></p>
    <button class="btn btn-primary"><%= link_to 'View', project_bug_path(bug.project, bug), class: "text-light" %></button>
  </div>
</div>

