<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    *{
      margin: 0px;
      padding: 0px;
    }
    #hero {
      width: 100vw;
      height: 90vh;
      background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80") top left;
      background-size: cover;
      position: relative;
      margin-top: 0;
    }

    #hero:before {
      content: "";
      background: rgba(255, 255, 255, 0.6);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }

    #hero .container {
      position: relative;
    }

    #hero h1 {
      margin: 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #222222;
      font-family: "Poppins", sans-serif;
    }

    #hero h1 span {
      color: #106eea;
    }

    #hero h2 {
      color: #555555;
      margin: 5px 0 30px 0;
      font-size: 24px;
      font-weight: 400;
    }

    @media (min-width: 1024px) {
      #hero {
        background-attachment: fixed;
      }
    }

    @media (max-width: 768px) {
      #hero {
        height: 100vh;
      }

      #hero h1 {
        font-size: 28px;
        line-height: 36px;
      }

      #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }

      #hero .btn-get-started,
      #hero .btn-watch-video {
        font-size: 13px;
      }
    }

    @media (max-height: 500px) {
      #hero {
        height: 120vh;
      }
    }
  </style>
</head>

<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" >
      <h1>Welcome to <span>Bugzilla</span></h1>
      <h2>Bugs are meant to be tracked and resolved, a bug tracking application</h2>
      <div class="d-flex">
        <%= link_to "Projects", projects_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </section><!-- End Hero -->
</body>
